@import '../../../assets/theme/variables';

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  margin-bottom: 0;
  padding: $space * 2 0;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;

  .header-left {
    display: flex;
    align-items: center;

    .logo {
      font-family: 'Cropped', sans-serif;
      font-size: 32px;
      color: $title;
      cursor: pointer;
    }
  }

  .header-menu {
    display: flex;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    ul {
      display: flex;
      align-items: center;

      li {
        margin: 0 $space;
        font-size: 13px;
        font-weight: 600;
        transition: all .25s ease 0s;
        white-space: nowrap;
        cursor: pointer;
        color: $title;
        position: relative;

        &:hover, &.active {
          color: $primary;

          &:before {
            width: 80%;
          }
        }

        &:before {
          content: '';
          width: 0;
          height: 2px;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 2px);
          background: $primary;
          transition: all .25s ease 0s;
        }
      }
    }

  }

  .header-right {
    display: flex;
    align-items: center;
    gap: $space;

    .right-menu-button {
      height: 30px;
      padding: 0 $space;

      &:hover {
        &::ng-deep svg {
          color: $text;
        }
      }

      ::ng-deep svg {
        height: 22px;
        max-width: 26px;
        color: $title;
      }
    }

    ::ng-deep svg {
      height: 22px;
      max-width: 26px;
      color: $title;
    }

    .cart {
      display: flex;

      .dropdown {
        display: flex;
        align-items: center;

        .dropdown-toggle {
          position: relative;
          width: 42px;
          height: 30px;
          padding: 0 $space;

          &:after {
            content: none;
          }

          span {
            position: absolute;
            top: 0;
            right: 2px;
            font-size: 10px;
            font-weight: 600;
            background: $primary;
            color: #fff;
            padding: 3px;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.empty {
              background: $text;
            }
          }
        }
      }

      .cart-content {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        display: none;
        width: 380px;
        background: #ffffff;
        box-shadow: $shadow-dark;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: $space*3 $space*2 !important;


        &.show {
          display: flex;
          border-radius: 0;
          border: 0;
          box-shadow: $shadow-dark;
        }

        .empty-cart {
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
          flex-direction: column;

          button {
            margin-top: $space * 2;
          }
        }

        app-product-list {
          height: 335px;
          min-height: 335px;
          overflow-y: auto;
          padding-bottom: 70px;
          width: 100%;


          ::ng-deep {
            .book-item {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              margin-bottom: $space * 3;
              box-shadow: none;

              .cover {
                padding: 0;

                img {
                  width: 78px;
                  min-width: 78px;
                  height: 110px;
                  white-space: nowrap;
                  box-shadow: $shadow-book;
                }

                .actions {
                  display: none;
                }
              }

              .text {
                height: unset;
                padding: $space;

                h5 {
                  font-size: 15px;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  -webkit-box-orient: vertical;
                  max-width: 200px;
                }

                .author {
                  display: none;
                }
              }
            }
          }
        }

        .cart-bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: $space * 2 0;

          .total {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 500;
            color: $text;
            text-transform: uppercase;
            line-height: 26px;
            position: relative;
            margin-top: 30px;

            .title {
              background: #fff;
              padding-right: 10px;
              text-transform: uppercase;
            }

            .price {
              font-size: 20px;
              background: #fff;
              padding-left: 10px;
              font-family: $title-font;
            }

            &:before {
              position: absolute;
              content: "";
              width: 100%;
              height: 1px;
              background: $border-color;
              top: 12px;
              left: 0;
              z-index: -1;
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $space * 2;
            width: 100%;
            margin-top: $space * 2;
          }
        }
      }


    }

    .language-menu {
      .dropdown {
        display: flex;
        align-items: center;

        .dropdown-toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $border-light;
          transition: all .25s ease 0s;
          height: 30px;
          padding: 0 $space/2;

          &:hover, &.active {
            background: $border-light;
          }

          &:after {
            content: none;
          }

          ::ng-deep svg {
            height: 12px;
            max-width: 18px;
            color: $title;
          }

          img {
            width: 24px;
            height: auto;
            min-width: 20px;
          }
        }

        .dropdown-menu {
          border-radius: 0;
          border: 0;
          box-shadow: $shadow-dark;
          padding: 0 !important;

          li {
            font-size: 13px;
            font-weight: 600;
            transition: all .25s ease 0s;
            white-space: nowrap;
            cursor: pointer;
            color: $title;
            padding: 10px 20px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .mobile-menu {
    display: none;

    .dropdown-menu.show {
      position: fixed !important;
      top: 65px !important;
      left: 0 !important;
      transform: none !important;
      border-radius: 0;
      border: 0;
      box-shadow: $shadow-dark;
      padding: 0 !important;

      li {
        font-size: 13px;
        font-weight: 600;
        transition: all .25s ease 0s;
        white-space: nowrap;
        cursor: pointer;
        color: $title;
        padding: 10px 20px;
        text-transform: uppercase;
      }
    }
  }


}


@media only screen and (max-width: 992px) {
  #header {
    padding: $space 0;

    .header-left {

      .logo {
        font-size: 28px;
      }
    }

    .header-right {
      gap: $space / 2;

      ::ng-deep svg {
        height: 20px;
        max-width: 22px;
      }
    }

    .header-menu {
      display: none;
    }

    .mobile-menu {
      display: flex;

      .dropdown {
        display: flex;
        align-items: center;
      }

      .dropdown-toggle {
        width: 30px;
        height: 30px;
        margin-right: $space;

        &:after {
          content: none;
        }

        ::ng-deep svg {
          height: 30px;
          max-width: 30px;
          color: $title;
        }
      }
    }


    .language-menu {
      .dropdown {
        .dropdown-toggle {
          ::ng-deep svg {
            display: none;
          }
        }
      }
    }

    .cart {
      .dropdown-menu.show {
        position: fixed !important;
        top: 65px !important;
        right: 10px !important;
        transform: none !important;
        border-radius: 0;
        border: 0;
        box-shadow: $shadow-dark;
        padding: 0 !important;

        li {
          font-size: 13px;
          font-weight: 600;
          transition: all .25s ease 0s;
          white-space: nowrap;
          cursor: pointer;
          color: $title;
          padding: 10px 20px;
        }
      }
    }
  }

}
