<div id="header">
  <div class="container">
    <div class="row">
      <div class="flex justify-between w-100 relative">

        <div class="header-left" >
          <div class="mobile-menu">
            <div ngbDropdown>
              <button type="button" class="transparent-button" id="mobile-menu" ngbDropdownToggle>
                <app-icon [icon]="'menu'"/>
              </button>
              <div ngbDropdownMenu aria-labelledby="mobile-menu">
                <li [routerLink]="item.link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                    *ngFor="let item of menu">{{item.title | translate}}</li>
              </div>
            </div>
          </div>
          <div class="logo" routerLink="/">NEVBOOK</div>
        </div>
        <div class="header-menu">
          <ul>
            <li [routerLink]="item.link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
                *ngFor="let item of menu">{{item.title | translate}}</li>
          </ul>
        </div>
        <div class="header-right">
          <!--  <button class="transparent-button right-menu-button">
              <app-icon [icon]="'search'"/>
            </button>-->
          <div class="cart">
            <div ngbDropdown>
              <button type="button" class="transparent-button" id="cart" ngbDropdownToggle>
                <app-icon [icon]="'cart'"/>
                <span [class.empty]="true" *ngIf="cartService.items.length"> {{cartService.items.length}}</span>
              </button>
              <div ngbDropdownMenu class="cart-content" aria-labelledby="cart">
                <app-product-list [products]="cartService.items" *ngIf="cartService.items.length"/>
                <div class="cart-bottom" *ngIf="cartService.items.length">
                  <div class="total">
                    <div class="title">{{'total' | translate}}:</div>
                    <div class="price">MKD {{cartService.total  | number: '3.1-1'}}</div>
                  </div>
                  <div class="buttons">
                    <button class="custom-button" routerLink="/cart">{{'view_cart' | translate}}</button>
                    <button class="custom-button bordered" (click)="clearCart()">{{'clear' | translate}}</button>
                  </div>
                </div>
                <div class="empty-cart" *ngIf="!cartService.items.length">
                  <p>{{'no_item' | translate}}</p>
                  <button class="custom-button" routerLink="/shop">{{'SHOP NOW' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
          <button class="transparent-button right-menu-button" routerLink="/profile">
            <app-icon [icon]="'user'"/>
          </button>
          <div class="language-menu">
            <div ngbDropdown>
              <button type="button" class="transparent-button" id="language-menu" ngbDropdownToggle>
                <img src="../../../assets/img/flags/{{langService.currentLang}}.png" alt="">
                <app-icon [icon]="'arrow-bottom'"/>
              </button>
              <div ngbDropdownMenu aria-labelledby="language-menu">
                <li (click)="changeLang(lang.key)" routerLinkActive="active"
                    *ngFor="let lang of languages">{{lang.value}}</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
