@import '../../../assets/theme/variables';

#header {
  display: flex;
  align-items: center;
  z-index: 9999;
  margin-bottom: 0;
  padding: $space * 2 0;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;

  .header-left {
    display: flex;
    align-items: center;

    .logo {
      font-family: 'Cropped', sans-serif;
      font-size: 32px;
      color: $title;
      cursor: pointer;
    }

  }

  .header-menu {
    display: flex;
    text-transform: uppercase;

    ul {
      display: flex;
      align-items: center;

      li {
        margin: 0 $space;
        font-size: 13px;
        font-weight: 600;
        transition: all .25s ease 0s;
        white-space: nowrap;
        cursor: pointer;
        color: $title;
        position: relative;

        &:hover, &.active {
          color: $primary;

          &:before {
            width: 80%;
          }
        }

        &:before {
          content: '';
          width: 0;
          height: 2px;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 2px);
          background: $primary;
          transition: all .25s ease 0s;
        }
      }
    }

  }

  .header-right {
    display: flex;
    align-items: center;
    gap: $space;

    button {
      height: 30px;
      padding: 0 $space;

      &:hover {
        &::ng-deep svg {
          color: $text;
        }
      }
    }

    ::ng-deep svg {
      height: 22px;
      max-width: 26px;
      color: $title;
    }

    .cart {
      display: flex;

      .dropdown {
        display: flex;
        align-items: center;

        .dropdown-toggle {
          position: relative;

          &:after {
            content: none;
          }


          span {
            position: absolute;
            top: 0;
            right: 2px;
            font-size: 10px;
            font-weight: 600;
            background: $primary;
            color: #fff;
            padding: 3px;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.empty {
              background: $text;
            }
          }
        }
      }

      .cart-content {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        display: none;
        width: 300px;
        height: 400px;
        background: #ffffff;
        box-shadow: $shadow-dark;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;


        &.show {
          display: flex;
          border-radius: 0;
          border: 0;
          box-shadow: $shadow-dark;
          padding: 0 !important;
        }

        .empty-cart {
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
          flex-direction: column;

          button {
            margin-top: $space * 2;
          }
        }
      }


    }

    .language-menu {
      .dropdown {
        display: flex;
        align-items: center;

        .dropdown-toggle {
          padding: 0 5px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $border-light;
          transition: all .25s ease 0s;

          &:hover, &.active {
            background: $border-light;
          }

          &:after {
            content: none;
          }

          ::ng-deep svg {
            height: 12px;
            max-width: 24px;
            color: $title;
          }

          img {
            width: 24px;
            height: auto;
            min-width: 20px;
          }
        }

        .dropdown-menu {
          border-radius: 0;
          border: 0;
          box-shadow: $shadow-dark;
          padding: 0 !important;

          li {
            font-size: 13px;
            font-weight: 600;
            transition: all .25s ease 0s;
            white-space: nowrap;
            cursor: pointer;
            color: $title;
            padding: 10px 20px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .mobile-menu {
    display: none;

    .dropdown-menu.show {
      position: fixed !important;
      top: 65px !important;
      left: 0 !important;
      transform: none !important;
      border-radius: 0;
      border: 0;
      box-shadow: $shadow-dark;
      padding: 0 !important;

      li {
        font-size: 13px;
        font-weight: 600;
        transition: all .25s ease 0s;
        white-space: nowrap;
        cursor: pointer;
        color: $title;
        padding: 10px 20px;
        text-transform: uppercase;
      }
    }
  }


}


@media only screen and (max-width: 992px) {
  #header {
    padding: $space 0;

    .header-left {
      .logo {
        font-size: 28px;
      }
    }

    .header-right {
      gap: $space / 2;

      ::ng-deep svg {
        height: 20px;
        max-width: 22px;
      }
    }

    .header-menu {
      display: none;
    }

    .mobile-menu {
      display: flex;

      .dropdown {
        display: flex;
        align-items: center;
      }

      .dropdown-toggle {
        width: 30px;
        height: 30px;
        margin-right: $space;

        &:after {
          content: none;
        }

        ::ng-deep svg {
          height: 30px;
          max-width: 30px;
          color: $title;
        }
      }
    }


    .language-menu {
      .dropdown {
        .dropdown-toggle {
          ::ng-deep svg {
            display: none;
          }
        }
      }
    }

    .cart {
      .dropdown-menu.show {
        position: fixed !important;
        top: 72px !important;
        right: 0 !important;
        transform: none !important;
        border-radius: 0;
        border: 0;
        box-shadow: $shadow-dark;
        padding: 0 !important;

        li {
          font-size: 13px;
          font-weight: 600;
          transition: all .25s ease 0s;
          white-space: nowrap;
          cursor: pointer;
          color: $title;
          padding: 10px 20px;
        }
      }
    }
  }

}
