<div id="header">
  <div class="container">
    <div class="row">
      <div class="flex justify-between w-100 relative">
        <div class="mobile-menu">
          <div ngbDropdown>
            <button type="button" class="transparent-button" id="mobile" ngbDropdownToggle>
              <app-icon [icon]="'menu'"/>
            </button>
            <div ngbDropdownMenu aria-labelledby="mobile-menu">
              <li routerLink="/">Home</li>
              <li routerLink="/shop">Shop</li>
              <li routerLink="/about">About</li>
              <li routerLink="/contact">Contact</li>
            </div>
          </div>
        </div>
        <div class="header-left">
          <div class="logo">NEVBOOK</div>
        </div>
        <div class="header-menu">
          <ul>
            <li routerLink="/">Home</li>
            <li routerLink="/shop">Shop</li>
            <li routerLink="/about">About</li>
            <li routerLink="/contact">Contact</li>
          </ul>
        </div>
        <div class="header-right">
          <button class="transparent-button">
            <app-icon [icon]="'search'"/>
          </button>
          <div class="cart">
            <div ngbDropdown>
              <button type="button" class="transparent-button" id="cart" ngbDropdownToggle>
                <app-icon [icon]="'cart'"/>
                <span [class.empty]="true">0</span>
              </button>
              <div ngbDropdownMenu class="cart-content" aria-labelledby="cart">
                <div class="empty-cart">
                  <p>No items found in cart.</p>
                  <button class="custom-button" routerLink="/shop">SHOP NOW</button>
                </div>
              </div>
            </div>
          </div>
          <button class="transparent-button">
            <app-icon [icon]="'user'"/>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
