<div class="orders" *ngIf="!selectedOrder">
  <div class="subpage-title">
    <button class="custom-button md" (click)="downloadAsPDF()" translate>export_pdf</button>
  </div>
  <table class="table table-borderless" #pdfTable>
    <thead>
    <tr>
      <th scope="col" translate>order</th>
      <th scope="col" translate>date</th>
      <th scope="col" translate>status</th>
      <th scope="col" translate>total</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of orders">
      <td>#{{item.id}}</td>
      <td>{{item.created_at | date}}</td>
      <td>
        <div
          class="badge {{item.shipped ? 'success' : 'processing'}}" translate>{{item.shipped ? 'completed' : 'processing'}}</div>
      </td>
      <td>{{item.total}}</td>
      <td class="link" (click)="viewOrder(item.id)" translate>view</td>

    </tbody>
  </table>
</div>
<div class="order-details" *ngIf="selectedOrder">
  <div class="subpage-title">
    <button class="transparent-button" (click)="backToOrders()">
      <app-icon [icon]="'arrow-left'"/>
      {{"back" | translate}}
    </button>
    <button class="custom-button md success" *ngIf="!selectedOrder.shipped && auth.isAdmin" (click)="completeOrder(selectedOrder.id)" translate>complete_order</button>
  </div>
  <ul>
    <li>
      <h6 translate>id</h6>
      <span>#{{selectedOrder.id}}</span>
    </li>
    <li>
      <h6 translate>date</h6>
      <span>{{selectedOrder.created_at | date}}</span>
    </li>
    <li>
      <h6 translate>email</h6>
      <span>{{selectedOrder.email}}</span>
    </li>
    <li>
      <h6 translate>total</h6>
      <span>{{selectedOrder.total | currency:'MKD': 'symbol-narrow':'3.0-1'}}</span>
    </li>
    <li>
      <h6 translate>payment_method</h6>
      <span>Credit Card (Stripe)</span>
    </li>
  </ul>
  <h4 translate>order_details</h4>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col" translate>product</th>
      <th scope="col" translate>total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of selectedOrder.products">
      <td>
        <div class="product">
          <img src="{{server}}/product/photo/{{item.photo}}" alt="NevBook">
          <span> {{item.productName}}</span>
          <span class="fw-semibold ml-1">x{{item.quantity}}</span>
        </div>
      </td>
      <td>{{item.price | currency:'MKD': 'symbol-narrow':'3.0-1'}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td translate>total</td>
      <td>{{selectedOrder.total | currency:'MKD': 'symbol-narrow':'3.0-1'}}</td>
    </tr>
    </tbody>
  </table>
  <div class="bill mt-3">
    <h4 translate>billing_address</h4>
    <ul>
      <li>{{selectedOrder.name}}</li>
      <li>{{selectedOrder.address}}</li>
      <li>{{selectedOrder.city}}</li>
      <li>{{selectedOrder.province}}</li>
      <li>{{selectedOrder.zip_code}}</li>
    </ul>
  </div>
</div>
