@import '../../../assets/theme/variables';

.form-signin {
  gap: $space * 2;
}

.profile-wrapper {
  padding: $space * 3 $space;
  min-height: calc(100vh - 155px);

  .profile-left {
    background: $border-xlight;
    border: 1px solid $border-light;
    padding: $space * 2 0 0;

    .user {
      padding: $space * 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h5 {
        margin-bottom: $space * 2
      }

      .avatar {
        width: 96px;
        height: 96px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $space;

        app-icon {
          ::ng-deep {
            svg {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }

  .nav-tabs {
    display: flex;
    flex-direction: column;
    border: 0;

    .nav-item {
      width: 100%;
      margin: 0;

      .nav-link {
        width: 100%;
        border: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 500;
        color: $text;
        transition: $transition;
        padding: $space $space * 2;

        &.active, hover {
          color: $primary;
        }
      }
    }
  }
}

.badge {
  padding: 2px 10px;
  color: #fff;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: max-content;
  font-weight: 400;

  &.success {
    background: $success;
  }

  &.processing {
    background: $warning;
  }
}

.order-details {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: $space * 3;

    li {
      padding: $space;
      margin-bottom: $space * 2;
      text-align: center;
      border-right: 1px solid $border-color;

      &:last-child {
        border: 0;
      }

      h6 {
        font-family: $title-font;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: $space / 2;
      }

      span {
        font-size: 14px;
      }
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: $title-font;
    margin-bottom: $space * 2;
  }

  button {
    color: $title;
    display: flex;
    margin-bottom: $space;
    font-weight: 600;
    transition: $transition;
    line-height: 20px;

    ::ng-deep {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      color: $primary;
    }
  }

  .bill {
    ul {
      display: flex;
      flex-direction: column;
      padding: $space $space * 2 $space * 2;
      border: 2px dashed $border-color;

      li {
        border: 0;
        margin: 0;
        text-align: left;
        padding: 5px;
      }
    }
  }
}
