@import '../../../assets/theme/variables';

.form-signin {
  gap: $space * 2;
}

.profile-wrapper {
  padding: $space * 3 $space;
  min-height: calc(100vh - 155px);

  .profile-left {
    background: $border-xlight;
    border: 1px solid $border-light;
    padding: $space * 2 0 0;

    .user {
      padding: $space * 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h5 {
        margin-bottom: $space * 2
      }

      .avatar {
        width: 96px;
        height: 96px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $space;

        app-icon {
          ::ng-deep {
            svg {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }

  .nav-tabs {
    display: flex;
    flex-direction: column;
    border: 0;

    .nav-item {
      width: 100%;
      margin: 0;

      .nav-link {
        width: 100%;
        border: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        font-weight: 500;
        color: $text;
        transition: $transition;
        padding: $space $space * 2;

        &.active, hover {
          color: $primary;
        }
      }
    }
  }
}
