<div id="profile">
  <div class="container">
    <div class="row align-start">
      <div class="profile-wrapper">
        <div class="row">
          <div class="col-lg-3">
            <div class="profile-left">
              <div class="user">
                <div class="avatar">
                  <app-icon [icon]="'user'"/>
                </div>
                <h5>{{auth.user?.name}}</h5>
                <p> {{auth.user?.email}}</p>
              </div>
              <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                  <button ngbNavLink translate>profile</button>
                  <ng-template ngbNavContent>
                    <p>
                      {{"hello" | translate}}
                      {{"dashboard_info" | translate}}
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem *ngIf="auth.isAdmin">
                  <button ngbNavLink translate>products</button>
                  <ng-template ngbNavContent>{{"product" | translate}}</ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink translate>orders</button>
                  <ng-template ngbNavContent class="orders">
                    <app-orders></app-orders>
                  </ng-template>
                </li>
                <li ngbNavItem *ngIf="auth.isAdmin">
                  <button ngbNavLink translate>users</button>
                  <ng-template ngbNavContent>
                    <input type="file" (change)="onFileChange($event)"/>
                    <div id="output"></div>

                    <button (click)="importUsers()">imppooort</button>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink (click)="logout()" translate>logout</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
