<div id="profile">
  <div class="container">
    <div class="row align-start">
      <div class="profile-wrapper">
        <div class="row">
          <div class="col-lg-4">
            <div class="profile-left">
              <div class="user">
                <div class="avatar">
                  <app-icon [icon]="'user'"/>
                </div>
                <h5>{{auth.user?.name}}</h5>
                <p> {{auth.user?.email}}</p>
              </div>
              <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                  <button ngbNavLink translate>profile</button>
                  <ng-template ngbNavContent>
                    <p>
                      {{"hello" | translate}}
                      {{"dashboard_info" | translate}}
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink translate>products</button>
                  <ng-template ngbNavContent>{{"product" | translate}}</ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink translate>orders</button>
                  <ng-template ngbNavContent class="orders">
                    <button (click)="downloadAsPDF()" translate>export_pdf</button>
                    <table class="table table-borderless" *ngIf="!selectedOrder" #pdfTable>
                      <thead>
                      <tr>
                        <th scope="col" translate>order</th>
                        <th scope="col" translate>date</th>
                        <th scope="col" translate>status</th>
                        <th scope="col" translate>total</th>
                        <th scope="col"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of orders">
                        <td>#{{item.id}}</td>
                        <td>{{item.date}}</td>
                        <td><div class="badge success">{{item.status}}</div></td>
                        <td>{{item.total}}</td>
                        <td class="link" (click)="viewOrder(8315)" translate>view</td>

                      </tbody>
                    </table>
                    <div class="order-details" *ngIf="selectedOrder">
                      <button class="transparent-button" (click)="backToOrders()">
                        <app-icon [icon]="'arrow-left'"/>
                        {{"back" | translate}}
                      </button>
                      <ul>
                        <li>
                          <h6>Order ID</h6>
                          <span>#8315</span>
                        </li>
                        <li>
                          <h6>Date</h6>
                          <span>June 30, 2023</span>
                        </li>
                        <li>
                          <h6 translate>email</h6>
                          <span>test@gmail.com</span>
                        </li>
                        <li>
                          <h6 translate>total</h6>
                          <span>15000 MKD</span>
                        </li>
                        <li>
                          <h6 translate>payment_method</h6>
                          <span>Cash on delivery</span>
                        </li>
                      </ul>
                      <h4 translate>order_details</h4>
                      <table class="table table-borderless">
                        <thead>
                        <tr>
                          <th scope="col" translate>product</th>
                          <th scope="col" translate>total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>A book x2</td>
                          <td>10000 MKD</td>
                        </tr>
                        <tr>
                          <td>A different book x3</td>
                          <td>6000 MKD</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td translate>subtotal</td>
                          <td>16000 MKD</td>
                        </tr>
                        <tr>
                          <td>{{"discount" | translate}} (FINKY)</td>
                          <td>20%</td>
                        </tr>
                        <tr>
                          <td translate>payment_method</td>
                          <td>Cash on delivery</td>
                        </tr>
                        <tr>
                          <td translate>total</td>
                          <td>12800 MKD</td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="bill mt-3">
                        <h4 translate>billing_address</h4>
                        <ul>
                          <li>Name on card</li>
                          <li>Aasdasdasdasd</li>
                          <li>Skopje</li>
                          <li>Skopje</li>
                          <li>0112</li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink translate>users</button>
                  <ng-template ngbNavContent>Second content</ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink translate>promo_codes</button>
                  <ng-template ngbNavContent>Second content</ng-template>
                </li>
                <li ngbNavItem>
                  <button ngbNavLink (click)="logout()" translate>logout</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8">
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
