<div class="auth-wrapper">
  <div class="auth-box">
    <div ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-pills">
      <button class="tabs-slider" #tabsSlider></button>
      <ng-container ngbNavItem="login">
        <button ngbNavLink (click)="selectButton($event)" translate>login</button>
        <ng-template ngbNavContent>
          <app-login-form></app-login-form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem="register">
        <button ngbNavLink (click)="selectButton($event)" translate>register</button>
        <ng-template ngbNavContent>
          <app-register-form></app-register-form>
        </ng-template>
      </ng-container>
    </div>

    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
