@import '../../../assets/theme/variables';

#shop {
  padding: $space * 6 0;
}

.sidebar-category-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  li {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    padding: $space/2 $space;
    line-height: 24px;
    color: $text;
    text-decoration: none;
  }

  h4 {
    font-size: 15px;
    font-weight: 600;
    color: $title;
    cursor: pointer;
    padding: $space $space $space 0;

    &:hover,
    &.active {
      color: $primary;
    }
  }

  .category-item {
    position: relative;
    overflow: hidden;

    ul {
      max-height: 0;
      transition: all 1s;
    }

    &.active {
      ul {
        max-height: 10000px;
        transition: all 1s;
      }
    }
  }
}

.shop-filter-bar {
  width: 100%;
  height: 38px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .custom-input {
    margin: 0;
    width: 200px;
    height: 100%;
    border-left: 1px solid #e0e0e0;
    display: flex;
    align-items: center;

    select {
      width: 100%;
      height: 100%;
      border: 0;
      padding: 0 15px;
      appearance: none;
      cursor: pointer;
      font-size: 13px;
      line-height: 24px;
      color: #212529;
    }

    p {
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 13px;
      line-height: 24px;
      color: #212529;
    }
  }
}

.sidebar-box {
  .title {
    color: $title;
    font-family: $title-font;
    background: transparent;
    font-weight: 700;
    font-size: 22px;
    margin: -3px 0 $space;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 6px;
    border-bottom: 1px solid $border-color;

    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 50px;
      height: 2px;
      background: $primary;
    }
  }
}
