<div id="shop">
  <div class="container">
    <div class="row align-start">
      <div class="col-lg-3 sticky-top">
        <form id="search">
          <div class="custom-input with-button">
            <input type="text" name="search" placeholder="{{'search' | translate}}" (input)="onSearchChange($event)">
          </div>
        </form>
        <div class="sidebar-box mt-5" [class.active]="!categoriesCollapsed">
          <div class="title" (click)="toggleCategories()">
            <span translate>category_title<b>: {{'category.' + activeCategoryName | translate}}</b></span>
            <app-icon [icon]="'arrow-bottom'"></app-icon>
          </div>
          <div class="content">
            <ul class="sidebar-category-list">
              <div class="category-item" (click)="clearCategoryFilter()">
                <h4 [ngClass]="activeClass">All</h4>
              </div>
              <div class="category-item"
                   *ngFor="let category of categories"
                   [ngClass]="activeCategoryId === category.categoryID ? 'active' : ''">
                <h4
                  (click)="filterByCategory(category.categoryID, category.title)">{{'category.' + category.title | translate}}</h4>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="products-row-wrapper shop-filter-bar">
          <div class="custom-input">
            <select name="filterDate" id="filterDate" (change)="onChangeDate($event)">
              <option value="0">Sort By Date</option>
              <option value="1">Latest</option>
              <option value="2">Oldest</option>
            </select>
            <app-icon [icon]="'arrow-bottom'"></app-icon>
          </div>
          <div class="custom-input">
            <select name="filterPrice" id="filterPrice" (change)="onChangePrice($event)">
              <option value="0">Sort By Price</option>
              <option value="1">low to high</option>
              <option value="2">high to low</option>
            </select>
            <app-icon [icon]="'arrow-bottom'"></app-icon>
          </div>
          <div class="custom-input">
            <p class="product-count">{{this.filteredArray.length}} Products</p>
          </div>
        </div>
        <div class="products-row-wrapper mt-5 slideInUp">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-xs-6 product-wrapper"
                 *ngFor="let product of filteredArray | slice: (page-1) * 12 : page * 12">
              <app-product [product]="product"></app-product>
            </div>

            <div class="products-error danger" *ngIf="!filteredArray.length">
              No products found
            </div>
          </div>
        </div>

        <ngb-pagination
          [(page)]="page"
          [pageSize]="12"
          [maxSize]="3"
          [collectionSize]="filteredArray.length"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
