/***********************************
                FONT
*************************************/

$font: 'Poppins', sans-serif;
$title-font: 'Lora', sans-serif;
$logo-font: 'Cropped', sans-serif;


/***********************************
                COLOR
*************************************/

$text: #666;
$title: #2b2b2b;

$primary: rgb(250, 0, 79);
$primary-hover: rgba(250, 0, 79, .85);
$primary-dark: rgb(250, 0, 50);
$primary-disabled: rgb(179 94 121);
$secondary: rgb(2, 48, 71);
$success: rgb(50, 190, 166);
$success-dark: rgb(45, 173, 151);
$warning: rgb(255, 183, 3);
$danger: rgb(224, 79, 95);
$info: rgb(37, 183, 211);
$border-color: rgba(143, 143, 143, 0.25);
$border-light: rgba(143, 143, 143, 0.1);

/***********************************
                SPACING
*************************************/

$space: 10px;

/***********************************
                SHADOW
*************************************/
$shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.04);
$shadow-dark: 0 1px 4px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.12);
$shadow-reverse: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 -1px 4px rgba(0, 0, 0, 0.04);
$shadow-dark-reverse: 0 -1px 4px rgba(0, 0, 0, 0.06), 0 -1px 4px rgba(0, 0, 0, 0.12);
$shadow-book: 0 0 4px 0 rgba(43, 43, 43, .2);
$shadow-book-hover: 0 0 12px 0 rgba(43, 43, 43, .25);

$transition: all .5s ease 0s;
