/***********************************
                FONT
*************************************/

$font: 'Raleway', sans-serif;
$title-font: 'Lora', sans-serif;
$logo-font: 'Cropped', sans-serif;


/***********************************
                COLOR
*************************************/

$text: #666;
$title: #2b2b2b;

$primary: rgb(250, 0, 79);
$primary-hover: rgba(250, 0, 79, .85);
$primary-dark: rgb(250, 0, 50);
$secondary: rgb(2, 48, 71);
$success: rgb(142, 230, 160);
$warning: rgb(255, 183, 3);
$danger: rgb(250, 0, 33);
$border-color: rgba(143, 143, 143, 0.25);
$border-light: rgba(143, 143, 143, 0.1);


/***********************************
                SPACING
*************************************/

$space: 10px;

/***********************************
                SHADOW
*************************************/
$shadow: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.04);
$shadow-dark: 0 1px 4px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.12);
$shadow-reverse: 0 -1px 4px rgba(0, 0, 0, 0.02), 0 -1px 4px rgba(0, 0, 0, 0.04);
$shadow-dark-reverse: 0 -1px 4px rgba(0, 0, 0, 0.06), 0 -1px 4px rgba(0, 0, 0, 0.12);
