<div class="book-item">
  <div class="cover">
    <img src="../../../assets/img/products/{{product.productID}}.png" alt="NevBook">
    <div class="actions">
      <button class="primary-button" (click)="addProduct(product)">
        <app-icon [icon]="'cart'"></app-icon>
      </button>
      <button class="primary-button" routerLink="/book/{{product.productID}}">
        <app-icon [icon]="'search'"></app-icon>
      </button>
    </div>
  </div>
  <div class="text">
    <h5 routerLink="/book/{{product.productID}}">{{product.name}}</h5>
    <span class="author">by {{product.author}} - {{product.year}}</span>
    <span class="price">{{product.price}} ден</span>
  </div>
</div>
