<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3>Register</h3>
    <!-- Errors -->
    <div *ngIf="errors?.name" class="alert alert-danger mt-3">
      {{ errors?.name }}
    </div>
    <div *ngIf="errors?.email" class="alert alert-danger mt-3">
      {{ errors?.email }}
    </div>
    <div *ngIf="errors?.password" class="alert alert-danger mt-3">
      {{ errors?.password }}
    </div>
    <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
      {{ errors?.password_confirmation }}
    </div>
    <!-- Signup form -->
    <div class="custom-input">
      <label>Name</label>
      <input type="text" formControlName="name" />
    </div>
    <div class="custom-input">
      <label>Email address</label>
      <input type="email" formControlName="email" />
    </div>
    <div class="custom-input">
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>
    <div class="custom-input">
      <label>Confirm Password</label>
      <input type="password" formControlName="password_confirmation"/>
    </div>
    <div class="buttons">
      <button type="submit" class="custom-button">Register User</button>
    </div>
  </form>
</div>
