<div id="book" [class.edit]="editMode">
  <div class="container">
    <div class="row" *ngIf="auth.isAdmin">

    </div>
    <div class="row align-start">
      <div class="col-lg-3">
        <div class="book-img">
          <img src="{{server}}/product/photo/{{book.productID}}.webp" alt="NevBook">
        </div>
      </div>
      <div class="col-lg-9">
        <div class="book-details">
          <h3><input #editable readonly class="edit-input" type="text" value="{{book.name}}"></h3>
          <h5><input #editable readonly class="edit-input" type="text" value="{{book.price | currency:'MKD': 'symbol-narrow': '3.0-1' }}"></h5>
          <hr>

          <div class="stock">
            <div class="icon">
              <app-icon [icon]="'check'"></app-icon>
            </div>
            <h6>{{"in_stock" | translate}} <span> <input #editable readonly class="edit-input" type="text" value="{{book.stock}}"></span></h6>
          </div>
          <div class="buy">
            <app-quantity [quantity]="book.quantity ? book.quantity : 0" (update)="changeQuantity($event)"/>
            <button class="custom-button" (click)="cart.addToCart(book)">{{'add_to_cart' | translate}}</button>
          </div>
          <hr>
          <p>
            <input #editable readonly class="edit-input" type="text" value="{{book.description}}">
          </p>
          <ul>
            <li>
              <h6>{{'author' | translate}}:</h6>
              <span><input #editable readonly class="edit-input" type="text" value="{{book.author}}"></span>
            </li>
            <li>
              <h6>{{'publisher' | translate}}:</h6>
              <span><input #editable readonly class="edit-input" type="text" value="{{book.publisher}}"></span>
            </li>
            <li>
              <h6>{{'year' | translate}}:</h6>
              <span><input #editable readonly class="edit-input" type="text" value="{{book.year}}"></span>
            </li>
            <li>
              <h6>{{'pages' | translate}}:</h6>
              <span><input #editable readonly class="edit-input" type="text" value="{{book.pages}}"></span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
