@import '../../../assets/theme/variables';


.welcome {
  gap: $space * 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h6 {
    font-size: 84px;
    font-weight: 800;
    font-family: $logo-font;
    color: $title;
  }

  span {
    font-size: 18px;
    font-family: $title;
    color: $primary;
  }

  h1 {
    font-size: 45px;
    font-weight: 400;
    color: $title;

    b {
      font-family: $logo-font;
    }
  }

  p {
    font-size: 13px;
    width: 40%;
  }
}

.featured-books-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 1px solid $border-color;
  position: relative;
  width: auto;

  .nav-item {
    margin-bottom: 1px;

    .nav-link {
      border: 0;
      font-size: 18px;
      color: $title;
      font-weight: 500;

      &.active {
        color: $primary;
      }
    }
  }

  .tabs-slider {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background: $primary;
    border: 0;
    transition: all .25s;
  }
}

.welcome-section {
  border-bottom: 1px solid $border-light;
}

.featured-book-list {
  width: 100%;
}

@keyframes pop {
  from {
    transform: scale(.5);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
  .welcome {
    p {
      width: 100%;
    }
  }
  .featured-books-nav {
    .nav-item {
      .nav-link {
        font-size: 13px;
        padding: 5px 6px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {

}
