<div id="home">
  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let slider of sliders">
      <div class="carousel-slide" [style]="'background-image: url(../../../assets/img/'+ slider.img + '.png)'">
        <div class="carousel-caption">
          <h6>{{slider.type}}</h6>
          <h2>{{slider.discount}}% DISCOUNT </h2>
          <p>Use <b class="code">{{slider.code}}</b> promo code to get your discount for the books of <span>{{slider.category}}</span>.</p>
          <span>*Valid until {{slider.valid_until}}</span>
          <button class="custom-button" routerLink="{{slider.link}}">SHOP NOW</button>
        </div>
      </div>


    </ng-template>
  </ngb-carousel>
</div>
