<div id="home">
  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let slider of sliders">
      <div class="carousel-slide" [style]="'background-image: url(../../../assets/img/'+ slider.img + '.png)'">
        <div class="carousel-caption">
          <h6>{{slider.type}}</h6>
          <h2>{{slider.discount}}% {{'discount' | translate}} </h2>
          <p>Use <b class="code">{{slider.code}}</b> promo code to get your discount for the books of
            <span>{{slider.category}}</span>.</p>
          <span>*Valid until {{slider.valid_until}}</span>
          <button class="custom-button" routerLink="{{slider.link}}">{{'shop_now' | translate}}</button>
        </div>
      </div>


    </ng-template>
  </ngb-carousel>
  <section class="page-section welcome-section">
    <div class="container">
      <div class="row">
        <div class="welcome">
          <h6>N</h6>
          <h1>{{'welcome' | translate}} <b>NevBook</b></h1>
          <span>{{'welcome_title' | translate}}</span>
          <p>{{'welcome_description' | translate}}</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section books-section">
    <h4 class="section-title">Book Store</h4>
    <div class="container">
      <div class="row">
        <ul ngbNav #nav="ngbNav" class="nav-tabs featured-books-nav mt-6 mb-6">
          <button class="tabs-slider" #tabsSlider></button>
          <li ngbNavItem (click)="selectButton($event)">
            <button ngbNavLink>Biographies</button>
            <ng-template ngbNavContent>
              <div class="featured-book-list" *ngIf="pageLoaded">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of filteredProducts[0]">
                    <app-product [product]="item"/>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem (click)="selectButton($event)">
            <button ngbNavLink>Education</button>
            <ng-template ngbNavContent>
              <div class="featured-book-list">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-xs-6 product-wrapper" *ngFor="let item of filteredProducts[1]">
                    <app-product [product]="item"/>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem (click)="selectButton($event)">
            <button ngbNavLink>Computing</button>
            <ng-template ngbNavContent>
              <div class="featured-book-list">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of filteredProducts[2]">
                    <app-product [product]="item"/>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem (click)="selectButton($event)">
            <button ngbNavLink>History</button>
            <ng-template ngbNavContent>
              <div class="featured-book-list">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" *ngFor="let item of filteredProducts[3]">
                    <app-product [product]="item"/>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </section>

</div>
