@import '../../../assets/theme/variables';

#cart {
  padding: $space * 3 0;
  min-height: 90vh;

  .close {
    width: 30px;
    height: 30px;
    color: $title;
    border: 1px solid $border-color;
    border-radius: 50%;
    transition: $transition;

    ::ng-deep svg {
      width: 22px;
      height: 22px;
    }

    &:hover {
      color: $primary;
      border-color: $primary;
    }
  }

  .promo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $space * 2;

    .promo {
      padding: $space * 2 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;

    }
  }
}


@media only screen and (max-width: 992px) {
  #cart {
    .promo-wrapper {
      flex-direction: column;
      justify-content: center;
    }
  }
}
